@media screen and (min-width: 1960px) {
    .layout-main,
    .landing-wrapper {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* Untuk desktop (min-width: 992px) */
@media (min-width: 992px) {
    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
        }
    }
}

/* Untuk mobile (max-width: 991px) */
@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
        }
    }
}
